#main-heading{
margin: 10px auto;
width: fit-content;
}
div.countries{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}
.card{
    background-color: rgba(145, 145, 212, 0.336);
    border: 2px solid blue;
    border-radius: 25px;
  
}
.card-child{
   width: fit-content;
   margin: 20px auto;
}
div h2{
    width: fit-content;
    margin: 5px auto;
}
div img{
    width: 250px;
    height: 150px;
}